<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
<p>EJS Welcome to <%= title %></p>

<% for(let val of list){ %>
<div>
	<p><%= (val.label + val.value) %></p>
</div>
<%}%>

<img src="/image/icon.jpg" alt="">

</body>
</html>